<div class="contact">
<div class="well contact-us">
<div class="super-text">Contact Us</div>
<hr>
<h4>Need more information?  Have questions? Ready to get started?</h4>
<br>
<h4>This is the place! Fill in the form below and we will contact you ASAP.</h4>
<br>
<%= render 'form' %>

</div>
</div>