<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for contacting 125design.com</h1>
    <h3><%= @contact.name %></h3>

    <p>We will be in contact with you shortly.</p>

    <p><h4>Your Comment</h4>
      <%= @contact.comment %>
    </p>
    <p>email: <%= @contact.email %> </p>
    <p>phone: <%= @contact.phone %> </p>
  </body>
</html>